In [0]:
consumer_key = "------" 
consumer_secret = "-----"
access_key = "------"
access_secret = "-------"

In [0]:
usename = "@midasIIITD"

Above, I have defined my keys and secrets.  
I will be using Tweepy package which extracts the tweets and dumps them into JSON files in the form of dictionaries.

In [0]:
import tweepy
import pandas as pd
import datetime

Here, a function wil be defined for getting the tweets from the given twitter handle.

In [0]:
def get_tweets(username): 
          
        # Authorization to consumer key and consumer secret 
        author = tweepy.OAuthHandler(consumer_key, consumer_secret) 
  
        # Access to user's access key and access secret 
        author.set_access_token(access_key, access_secret) 
        tot =[]
  
        # API calling 
        api = tweepy.API(author) 
  
        # 3200 tweets to be extracted 
        tweets = api.user_timeline(username, count=200) 
        tot.extend(tweets)
        
        first = tot[-1].id -1
        
        while len(tweets) > 0:
          
          # The max_id parameter is used to prevent duplicates
          tweets = api.user_timeline(username,
                         count=200, max_id=first)

           # save most recent tweets

          tot.extend(tweets)

          first = tot[-1].id - 1
  
        return tot

Now, creating a JSON variable 'file' of all the tweets.

In [0]:
file = get_tweets_info(usename)

Getting the text, number of likes, number of retweets of the given tweet, and Date-Time of the tweets.

In [0]:
tweets_text = [tweet.text for tweet in file]
tweets_favourite = [tweet.favorite_count for tweet in file]
tweets_ret = [tweet.retweet_count for tweet in file ]
tweets_date_time = [tweet.created_at for tweet in file]

In [0]:
tweets_text[5] #Checking the 6th tweet

'Other queries: "none of the Tweeter Apis give the correct count of favorites tested for most of them, all give theâ€¦ https://t.co/2jnCTMMqV8'

Parsing the date-time into proper format.

In [0]:
cleaned_dt =[]
for dt in tweets_date_time:
  cleaned_dt.append(dt.strftime("%d/%m/%Y, %H:%M:%S"))

The extended_entities attribute of each tweet stores the infortmation about different media.
So, the information of images given in a tweet can be retrieved from there.

In [0]:
tweets_images = []
k=0

for tweet in file:
  
  count =0
  
  k=k+1
  try:
    for i in range(len(tweet.extended_entities['media'])):
        
        
        if(tweet.extended_entities['media'][i]['type'] == 'photo'):
            count= count+1
            tweets_images.append(count)
        else:
            tweets_images.append(0)
            
  except:
    if 'media' in tweet.entities:
        if(tweet.entities['media'][0]['type'] == 'photo'):
            tweets_images.append(1)
        else:
            tweets_images.append(0)
            
    else:
        tweets_images.append(0)

The DataFrame is made for tabularization.

In [0]:
dataframe = pd.DataFrame({'Text': tweets_text, 'Date and Time': cleaned_dt, 'Favourites': tweets_favourite, 'Number of Retweets': tweets_ret, 'Number of Images': tweets_images})

In [0]:
dataframe.tail()

,Date and Time,Favourites,Number of Images,Number of Retweets,Text
333,"24/07/2018, 10:33:23",2,0,1,MIDAS@IIITD foundation. https://t.co/LKuzyBHzjm
334,"24/07/2018, 10:12:34",2,0,1,It feels great to be the part of @IIITDelhi. h...
335,"24/07/2018, 09:46:26",4,0,1,"Thank you, @toonzratn for designing the logo o..."
336,"23/07/2018, 16:25:05",3,0,1,We are on Facebook too. Like our page to get o...
337,"23/07/2018, 12:53:15",7,1,4,MIDAS is a group of researchers at IIIT-Delhi ...